{% extends "layout.twig.html" %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-pencil"></i>
                </span>
                <h5>Añadir campaña</h5>
            </div>
            <div class="widget-content nopadding">
                <form id="form-wizard" class="form-horizontal" action="{{base_url}}admin/campañas/save-campaign" method="post">
                    <input type="hidden" name="id" value="{{email.id}}" />
                    <div id="form-wizard-1" class="step">
                        <div class="control-group">
                            <label class="control-label">Nombre</label>
                            <div class="controls">
                                <input id="name" type="text" name="name"  required/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Template</label>
                            <div class="controls">
                                <input id="template" type="text" name="template"  required />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Fecha</label>
                            <div class="controls">
                                <div class="input-append date ">
                                    <input type="text" name="date" data-date-format="dd-mm-yyyy" class="span13 datepicker" required >
                                     </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input class="btn btn-primary" type="submit" value="Añadir" />
                        <div id="status"></div>
                    </div>
                    <div id="submitted"></div>
                </form>

            </div>
        </div>
    </div>

</div>
{% endblock %}

