{% extends "layout.twig.html" %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-th"></i></span>
                <h5>Campañas</h5>

            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for campaign in campaigns %}
                    <tr>
                        <td>{{campaign.name}}</td>
                        <td>{{campaign.date}}</td>
                        <td class="buttonCenter">{% if campaign.status == 0 %}<a onclick="return confirm('¿Estás seguro de enviar la campaña?')" href="{{base_url}}admin/campañas/send/{{campaign.id}}"><i title='Campaña no enviada, haz click para enviar' class="far fa-clock" style="color: orange;height: 2em;width: inherit;"></i></a>{% else %}<i title='Campaña enviada' class="fas fa-paper-plane" style="color: green;height: 2em;width: inherit;"></i> {% endif %}</td>
                        <td class="buttonCenter"><a href="{{base_url}}admin/campañas/ver/{{campaign.id}}" class="btn btn-success" role="button">Ver</a></td>

                        {% if campaign.status == 0 %}
                        <td class="buttonCenter"><a href="{{base_url}}admin/campañas/modificar/{{campaign.id}}" class="btn btn-primary" role="button">Modificar</a></td>
                        <td class="buttonCenter"><a href="{{base_url}}admin/campañas/importar-emails/{{campaign.id}}" class="btn btn-warning" role="button">Añadir emails</a></td>
                        <td class="buttonCenter"><a onclick="return confirm('¿Estás seguro de eliminar la campaña?')" href="{{base_url}}admin/campañas/eliminar/{{campaign.id}}" class="btn btn-danger" role="button">Eliminar</a></td>
                        {% else %}
                        <td class="buttonCenter"><a href="#" class="btn btn-inverse" role="button" disabled>Modificar</a></td>
                        <td class="buttonCenter"><a href="#" class="btn btn-inverse" role="button" disabled>Añadir emails</a></td>
                        <td class="buttonCenter"><a href="#" disabled class="btn btn-inverse" role="button" >Eliminar</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

