{% extends "layout.twig.html" %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-th"></i></span>
                <h5>Blacklist</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Fecha</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in blacklist %}
                    <tr class="gradeX">
                        <td>{{user.email}}</td>
                        <td>{{user.created_at}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


