{% extends "layout.twig.html" %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-pencil"></i>
                </span>
                <h5>Importar emails</h5>
            </div>
            <div class="widget-content nopadding">
                <form id="form-wizard" class="form-horizontal" action="{{base_url}}admin/campañas/save-import" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{campaign}}" />
                    <div id="form-wizard-1" class="step">
                        <div class="control-group">
                            <label class="control-label">Archivo</label>
                            <div class="controls">
                                <input name="archivo" type="file" required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input class="btn btn-primary" type="submit" value="Importar" />
                        <div id="status"></div>
                    </div>
                    <div id="submitted"></div>
                </form>

            </div>
        </div>
    </div>

</div>
{% endblock %}

