<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{base_url}}assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{base_url}}assets/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="{{base_url}}assets/css/uniform.css" />
    <link rel="stylesheet" href="{{base_url}}assets/css/select2.css" />
    <link rel="stylesheet" href="{{base_url}}assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="{{base_url}}assets/css/maruti-style.css" />
    <link rel="stylesheet" href="{{base_url}}assets/css/maruti-media.css" class="skin-color" />
    <link rel="stylesheet" href="{{base_url}}assets/css/styles.css"/>
    <link rel="stylesheet" href="{{base_url}}assets/css/datepicker.css"/>

    {% block extracss %}{% endblock %}
</head>
<body>
{% include 'navbar.twig.html' %}

<div id="content">
    <div id="content-header">

    </div>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</div>

{% include 'footer.twig.html' %}
<script src="{{base_url}}assets/js/jquery.min.js"></script>
<script src="{{base_url}}assets/js/jquery.ui.custom.js"></script>


<script src="{{base_url}}assets/js/jquery.uniform.js"></script>
<script src="{{base_url}}assets/js/select2.min.js"></script>
<script src="{{base_url}}assets/js/bootstrap.min.js"></script>
<script src="{{base_url}}assets/js/bootstrap-datepicker.js"></script>
<script src="{{base_url}}assets/js/jquery.dataTables.min.js"></script>
<script src="{{base_url}}assets/js/maruti.tables.js"></script>
<script src="{{base_url}}assets/js/maruti.js"></script>

<script src="{{base_url}}assets/js/maruti.form_common.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


{% block extrajs %}{% endblock %}
</body>
</html>
