<!DOCTYPE html>
<html lang="es">

<head>
    <title>Mailer</title><meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="assets/css/maruti-login.css" />
</head>
<body>
<div id="loginbox">
    <form id="loginform" class="form-vertical" action="admin/check-login" method="POST">
        <div class="control-group normal_text"> <h3><img src="assets/img/SRFLogo.png" alt="SRF Seguros" /></h3></div>
        {% if error is not empty %}
        <div class="alert alert-danger">
            {% if error == 1 %}
            <strong>Error</strong> Usuario/contraseña incorrectos.
            {% else %}
            <strong>Error</strong> Debe estar logueado.
            {% endif %}

        </div>
        {% endif %}
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on"><i class="icon-user"></i></span><input type="text" name="user" placeholder="Usuario" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on"><i class="icon-lock"></i></span><input type="password" name="password" placeholder="Contraseña" />
                </div>
            </div>
        </div>
        <div class="form-actions">
            <span class="pull-right"><input type="submit" class="btn btn-success" value="Entrar" /></span>
        </div>
    </form>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/maruti.login.js"></script>
</body>

</html>
