{% extends "layout.twig.html" %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-pencil"></i>
                </span>
                <h5>Editar email</h5>
            </div>
            <div class="widget-content nopadding">
                <div class="alert alert-danger" id="error" style="display:none;">
                    <strong>Error</strong> El email ya existe en la base de datos.
                </div>

                <form id="form-wizard" class="form-horizontal" action="{{base_url}}admin/emails/update-email" method="post">
                    <input type="hidden" name="id" value="{{email.id}}" />
                    <div id="form-wizard-1" class="step">
                        <div class="control-group">
                            <label class="control-label">Nombre</label>
                            <div class="controls">
                                <input id="name" type="text" name="name" value="{{email.name}}" required/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Email</label>
                            <div class="controls">
                                <input id="email" type="email" name="email" value="{{email.email}}" required />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Activo</label>
                            <div class="controls">
                                <input type="checkbox" id="activo" name="activo" value="1" {% if email.status == 1 %}checked{%endif%}>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input class="btn btn-primary" id="submit-button" type="button" value="Modificar" />
                        <div id="status"></div>
                    </div>
                    <div id="submitted"></div>
                </form>

            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    $("#submit-button").click(function(){
        var email = $("#email").val();
        var parametros = {
            "email": email
        };
        $.ajax({
            url: "../../../checkIfEmailExists.php",
            data: parametros,
            dataType: "html",
            type: "post",
            success: function (data) {
                if(data == 1){
                    $('#error').show();
                }else{
                    $("#form-wizard").submit();
                }
            }
        });

    });
</script>
{% endblock %}