{% extends "layout.twig.html" %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-pencil"></i>
                </span>
                <h5>Editar campaña</h5>
            </div>
            <div class="widget-content nopadding">
                <form id="form-wizard" class="form-horizontal" action="{{base_url}}admin/campañas/update-campaign" method="post">
                    <input type="hidden" name="id" value="{{campaign.id}}" />
                    <div id="form-wizard-1" class="step">
                        <div class="control-group">
                            <label class="control-label">Nombre</label>
                            <div class="controls">
                                <input id="name" type="text" name="name" value="{{campaign.name}}" required/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Template</label>
                            <div class="controls">
                                <input id="template" type="text" name="template" value="{{campaign.template}}" required />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Fecha</label>
                            <div class="controls">
                                <div class="input-append date ">
                                    <input type="text" name="date"  value='{{campaign.date|date("d-m-Y")}}' data-date-format="dd-mm-yyyy" autocomplete="off" class="span13 datepicker" required >
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Estado</label>
                            <div class="controls">
                                <select name="status" class="span2">
                                    <option value="0" {% if campaign.status == 0 %}selected{%endif%}>Sin enviar</option>
                                    <option  value="1" {% if campaign.status == 1 %}selected{%endif%}>Enviado</option>
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="form-actions">
                        <input class="btn btn-primary" type="submit" value="Modificar" />
                        <div id="status"></div>
                    </div>
                    <div id="submitted"></div>
                </form>

            </div>
        </div>
    </div>

</div>
{% endblock %}
