<div id="header">
    <h1><a href="{{base_url}}emails">Mailer</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-messaages-->
<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li class=""><a title="" href="{{base_url}}admin/logout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
    </ul>
</div>
<!--close-top-Header-menu-->

<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Inicio</a>
    <ul>
        <li class="submenu"> <a href="{{base_url}}admin/campañas"><i class="icon icon-list-alt"></i> <span>Campañas</span></a>
            <ul>
                <li><a href="{{base_url}}admin/campañas">Ver campañas</a></li>
                <li><a href="{{base_url}}admin/campañas/add">Alta campaña</a></li>

            </ul>
        </li>
        <li class="submenu"> <a href="{{base_url}}admin/emails"><i class="icon icon-envelope"></i> <span>Emails</span></a>
            <ul>
                <li><a href="{{base_url}}admin/emails">Ver blacklist emailsheader</a></li>

            </ul>
        </li>

    </ul>
</div>