{% extends "layout.twig.html" %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <p>Nombre campaña: {{campaign.name}}</p>
        <p>Fecha: {{campaign.date}}</p>
        <p>Estado: {% if campaign.status == 0 %} No enviada {% else %} Enviada {% endif %}</p>
        {% if campaign.status == 0 %}
        <a href="{{base_url}}admin/campañas/importar-emails/{{campaign.id}}" class="btn btn-warning" role="button">Añadir emails</a>
        {% endif %}
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-th"></i></span>
                <h5>Emails campaña</h5>

            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for email in emails %}
                    <tr>
                        <td>{{email.email}}</td>
                        <td class="buttonCenter">
                        {% if campaign.status == 0 %}
                            <a onclick="return confirm('¿Estás seguro de eliminar el email')" href="{{base_url}}admin/campañas/delete-email/{{email.id}}/{{email.id_campaign}}" class="btn btn-danger" role="button">Eliminar</a>
                         {% else %}
                            <a href="#" disabled class="btn btn-inverse" role="button" >Eliminar</a>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

